.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home .homeContainer {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.home .homeContainer .content {
  padding: 8px 16px;
}