.movie-detail-container {

    .movie-detail-banner {
        width: 100%;
        height: 300px;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 0 -40px;
        }

        .movie-detail-header {
            display: flex;
            align-items: center;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
    
            .movie-detail-title {
                margin-left: 20px;
    
                h1 {
                    text-transform: uppercase;
                    color: #FFF;
                    font-size: 34px;
                    text-shadow: 4px 4px 8px rgb(0, 0, 0);
                }

                .movie-detail-status {
                    display: flex;
                    align-items: center;

                    &-item {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }

    .movie-detail-wrapper {
        padding: 20px 40px;

        .movie-detail-body {
            display: flex;

            .movie-detail-image {
                width: 250px;
                border: 4px solid #FFF;
                box-shadow: 0px 0px 4px rgba(0,0,0,.4);
                border-radius: 4px;
                height: fit-content;
        
                img {
                    width: 100%;
                }
            }

            .movie-detail-description {
                margin-left: 20px;
            }

        }

        .company-group {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            .company-list {
                display: flex;

                .company-image {
                    width: 200px;
                    height: 200px;

                    img {
                        width: 100%;
                        // height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}