* {
  margin: 0;
}

.sidebar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 100vh;
  max-width: 200px;
  border-right: 0.5px solid rgb(230, 227, 227);
}
.sidebar .top {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid rgb(230, 227, 227);
}
.sidebar .top .logo {
  font-size: 20px;
  font-weight: bold;
  color: #1976D2;
}
.sidebar .center {
  background: #f5f5f5;
}
.sidebar .center .center-header {
  padding: 4px 8px;
}
.sidebar .center .center-header .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.sidebar .center .center-header .profile-description {
  padding: 4px 0;
  margin-left: 10px;
}
.sidebar .center .center-header .profile-description .profile-name {
  font-size: 14px;
  margin-bottom: 4px;
}
.sidebar .center .center-header .profile-description .profile-status {
  position: relative;
  font-size: 12px;
  padding-left: 12px;
  line-height: 1.2;
}
.sidebar .center .center-header .profile-description .profile-status::before {
  content: "";
  position: absolute;
  display: block;
  inset: -2px auto 0 0;
  width: 8px;
  height: 8px;
  background: #008f00;
  border-radius: 50%;
  margin: auto;
}
.sidebar .center .search-navigation .form-search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #e7e7e7;
  border-radius: 4px;
  padding: 6px 8px;
}
.sidebar .center .search-navigation .form-search-box input {
  background: transparent;
  border: none;
  outline: none;
  width: 80%;
}
.sidebar .center .search-navigation .form-search-box input::-moz-placeholder {
  color: #bbb;
}
.sidebar .center .search-navigation .form-search-box input::placeholder, .sidebar .center .search-navigation .form-search-box input::-moz-placeholder, .sidebar .center .search-navigation .form-search-box input::-webkit-input-placeholder {
  color: #bbb;
}
.sidebar .center .search-navigation .form-search-box .icon-search {
  color: rgb(141, 141, 141);
}
.sidebar .center .mainNavigation {
  background: #1976d2;
  padding: 8px 12px;
  text-transform: uppercase;
  font-size: 12px;
  color: #b7d3ef;
  font-weight: 500;
  margin: 5px 0;
}
.sidebar .center ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar .center ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 8px 16px;
  margin-bottom: 5px;
  font-size: 12px;
}
.sidebar .center ul li:hover {
  background: #5ea7ef;
}
.sidebar .center ul li .icon {
  font-size: 18px;
  color: #1976D2;
  margin-right: 5px;
}